@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;
    font-family: 'Gabriela', sans-serif;
}
/* --------------- Header--------------- */

header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../images/222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }



/* --------------- Navbar --------------- */

nav{
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.2);

}
div.logo{
    color: #fff;
    font-size: 20px;
    line-height: 70px;
    padding: 0 50px;
    font-weight: bold;
    float: left;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    color: skyblue;
    transition: .5s;
}
/*----------Body---------*/
.contact-form{
    width: 85%;
    max-width: 600px;
    background: rgb(35, 83, 105);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
}



.contact-form h1{
    margin-top: 10px;
    font-weight: 200;
}
.txtb{
    border-radius: 1px solid #fff;
    margin: 8px 0;
    padding: 12px 18;
    border-radius: 8px;
    color: #fff;
}

.textb label{
    display: block;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.textb input,.textb textarea{
    width: 100%;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}

.btn{
    display: inline-block;
    background: rgb(209, 209, 85);
    padding: 14px 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}
.form > div > .textb{
    overflow: hidden;
    font-style: italic;
    transition: 0.28S;
    max-height: 0;
}
/*----------Footer---------*/

.social-networks,footer{
    background:rgb(185, 185, 9);
    padding: 10px;
    text-align: center;
}

.social-networks,footer,a{
    color: black;

}


.social-networks li{
    display: inline;
}

span:hover{
    color: #fff;
}
.footer a:hover{
    color: black;
}

.col-lg-4{
    font-family: 'Gabriela', sans-serif;
    font-size: 16px; 
}
.social-networks{
    font-size: 12px;
    word-spacing: 50px;
}

/*----------Responsive queries---------*/
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}
#check{
    display: none;
}

@media only screen and(max-width: 1039px){
   div.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 20px}}
    

@media (max-width: 740px){

       div.logo{
            font-size:inherit;
            margin:0;
            padding:0;
            float:left
        }
        nav ul li a{
            font-size:12px;
            margin:0;
            padding:0;
        }}
